# Confidential informations!
/config.py
# Don't want to upload compiled Python code
/*.py[cCoO]
# Don't need my testing files uploaded
/testbot.py
/gui.py
/whitelist.py
# Don't need any cached versions
__pycache__/
# Don't include the local config files in the data directory
data/*.json
data/*.p
data/beambot.sqlite
!data/commandList.json
