# Confidential informations!
/config.py
# Don't want to upload compiled Python code
/*.py[cCoO]
# Don't need my testing files uploaded
/testbot.py
/gui.py
# Don't need any cached versions
__pycache__/
# Don't include the local config files
data/beambot.sqlite
data/blacklist.p
data/whitelist.p
data/bannedUsers.p
data/commands.xml