# Address of the beam website. No trailing slash.
BEAM_ADDR = 'https://beam.pro'

# Your username on Beam
USERNAME = 'USERNAME'

# Your password on Beam
PASSWORD = 'PASSWORD'

# The channel ID you want to log into.
# Comment the CHANNEL = None line and uncommment the CHANNEL = 1 line after changing it to the chat ID you want for auto-connect.

CHANNEL = None
#CHANNEL = 1 # <- Change that to the chat channel ID you want